<!DOCTYPE html>
<html>
<head>
  <title>PawsitiveCare</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/pets">Pets</a></li>
        <li><a href="/dogwalkers">Dog Walkers</a></li>
        <li><a href="/clients">Clients</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <%- body %>
  </main>
  <footer>
    <p>&copy; 2024 PawsitiveCare. All Rights Reserved.</p>
  </footer>
</body>
</html>
